# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=shivangi21
MYSQL_DATABASE=tyreplex

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=order-app
KAFKAJS_NO_PARTITIONER_WARNING=1

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600 # in seconds

# App
PORT=3000
NODE_ENV=development
